/* homepage */
.container-home {
    position: relative;
    z-index: 2;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-container {
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
    max-width: 55rem;
    letter-spacing: 0.3rem;
    user-select: none;
}

@keyframes moveIcon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.8rem);
    }

    100% {
        transform: translateY(0);
    }
}

.icons {
    width: 2rem;
    height: auto;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    animation: moveIcon 1.7s infinite;
}

.icons:hover {
    color: #A9A9A9;
}

/* search page */
.container-search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search {
    width: 75rem;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem 5rem 1rem;

}

.container-input {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.input-search {
    width: 100%;
    max-width: 40rem;
    height: 3rem;
    border: 1px solid #A9A9A9;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.6s;
}

.input-search:focus {
    outline: none;
    border: 2px solid #000;
}

.icon-search {
    color: #A9A9A9;
    width: 2.5rem;
    height: auto;
    position: relative;
    right: 3rem;
    color: #000;
}

.search-options {
    width: 25rem;
    max-width: 25rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}

.link-page {
    border: 0.1rem solid #A9A9A9;
    height: 3rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: 0.6s ease;
}

.link-page:hover {
    color: #A9A9A9;
    background-color: #000;
    transform: translateY(-7px);
}

/* images */
.container-images {
    margin-top: 0;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

.images {
    width: 100%;
    max-width: 75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.image-card {
    width: 24rem;
    height: 36rem;
    overflow: hidden;
    border-radius: 1rem;
    border: 0.1rem solid #A9A9A9;
    position: relative;
    z-index: 1;
}

.image-css {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
    opacity: 0;
    transition: 0.6s ease;
    z-index: 10;
}

.overlay:hover {
    opacity: 1;
}