.container-home {
    position: relative;
    z-index: 2;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-home {
    width: 25rem;
    max-width: 25rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}

.link-page {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    transition: 0.6s;
}

.link-page:hover {
    color: #A9A9A9;
}

.text-container {
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
    max-width: 55rem;
    letter-spacing: 0.3rem;
    user-select: none;
}

@keyframes moveIcon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.8rem);
    }

    100% {
        transform: translateY(0);
    }
}

.icons {
    width: 2rem;
    height: auto;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    animation: moveIcon 1.7s infinite;
}

.icons:hover {
    color: #A9A9A9;
}