/* homepage */
.container-home {
    position: relative;
    z-index: 2;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-container {
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
    max-width: 55rem;
    letter-spacing: 0.3rem;
    user-select: none;
}

@keyframes moveIcon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.8rem);
    }

    100% {
        transform: translateY(0);
    }
}

.icons {
    width: 2rem;
    height: auto;
    color: #fff;
    cursor: pointer;
    transition: 0.6s;
    animation: moveIcon 1.7s infinite;
}

.icons:hover {
    color: #A9A9A9;
}

/* images */
.container-images {
    margin-top: 0;
    padding: 0 1rem 5rem 1rem;
    display: flex;
    justify-content: center;
}